#buildingProcess{
  margin-bottom: 50px;
}

.card-columns .card {
  margin-bottom: 0.75rem;
  border-bottom: 2px solid #fd5a32 !important;
  border-radius: 0px;
  padding-bottom: 20px;
}

.card {
  border: 0 none !important;
}
.card-body {
  padding: 0px !important;
}
.processTitle {
  font-size: 17px !important;
  color: tomato;
  text-align: center;
  padding-bottom: 1rem;
}
.card-text {
  font-size: 15px !important;
}

.processHead {
  font-size: 40px;
  text-transform: uppercase;

}
#subTitle {
  font-size: 28px;
  font-family: "palatino";
  text-transform: uppercase;
}
.process {
  background-color: transparent;
  color: #434444;
  text-transform: uppercase;
  border-radius: 0px !important;
  max-width: 100%;
}
.pText {
  width: 100%;
  font-size: 30px;
  font-family: "palatino";
  border-left: 2px solid #fd5a32;
  padding-left: 20px;
}
.col-md-6{
  padding:0px !important;
}
@media (max-width: 375px) {
  .processHead{
    text-align: center;
    font-size: 30px;
  }
  .pText{
    font-size: 20px;
     
  }
  }