

.processA h2 {
    padding: 0px 0px 50px 0px !important;
    
  }
  .processA {
    margin-bottom: 40px;
  }
  .card-columns .card {
    margin-bottom: 0.75rem;
    border-bottom: 2px solid #fd5a32 !important;
    border-radius: 0px;
    padding-bottom: 20px;
  }
  
  .card {
    border: 0 none !important;
  }
  .card-body {
    padding: 0px !important;
  }
  .card-title {
    font-size: 15px !important;
  }
  .card-text {
    font-size: 13px !important;
  }
  .card-columns {
    column-count: 4 !important;
  }
.customHead{
    font-size: 50px;
}
#subTitle{
    font-size: 30px;
}