.collab {
  margin-bottom: 50px;
}
.form-control {
  border-left: 0 none !important;
  border-right: 0 none !important;
  border-top: 0 none !important;
  border-bottom: 1px solid #fd5a32 !important;
  border-radius: 0px !important;
  width: 80% !important;
  font-size: 13px !important;
}
textarea.form-control {
  border: 1px solid #ccc !important;
  background: #eee !important;
  margin-top: 40px;
}
.btn-primary {
  background-color: #fd5a32 !important;
  border-radius: 0px !important;
  border: 0 none !important;
  font-size: 17px;
  float: left;
}
.collabHead {
  font-size: 30px !important;
  margin-bottom: 50px;
  text-align: left;
  text-transform: uppercase;
}
.form-control {
  font-size: 17px !important;
}
.collaborateHead{
  font-size: 40px;
  margin-bottom: 50px;
  text-align: left;
  text-transform: uppercase;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.collab .col-md-6 {
  text-align: center;
  margin: auto;
}
@media (max-width: 768px) {
  .form-control {
    width: 100% !important ;
  }
  .collabHead {
    margin-top: 30px;
  }
}
@media (max-width: 375px) {
  .collaborateHead{
    text-align: center;
    font-size: 30px;
  }
  .collabHead {
    padding-left: 1rem;
    font-size: 20px !important;
  }
  .btn-primary{
    margin-left: 1rem;
  }
  }