.slide-container {
  width: 100%;
  margin: auto;
}

h3 {
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 400px;
}
.react-slideshow-container .nav {
  display: none;
}

.image-container img {
  width: 100%;
}

.react-slideshow-container + div.indicators {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.image-container span {
  padding: 70px;
  font-size: 32px;
  border: 2px solid #fd5a32;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 35%;
  color: #fff;
}
