nav.navbar,
.navbar-default {
  background: rgba(255, 255, 255, 0.95) !important;
  margin-bottom: 0px;
  width: 100%;
  border-radius: 0px;
  transition: all 0.2s;
  z-index: 999;
  border-bottom: 1px solid #eee;
  padding: 0.5% 5.5%;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}
.navbar-dark .navbar-nav .nav-link {
  color: #000 !important;
  font-weight: 500;
  font-size: 19px;
}
.fab {
  color: #fd5a32;
}
.nav-link:hover {
  color: #000 !important;
  text-decoration: none;
}
.navbar-brand {
  margin: 0px auto !important;
}
.navbar-brand img {
  height: 70px;
}
.navbar-toggler {
  padding: 3px 5px !important;
  background-color: #000 !important;
  border-radius: 0px !important;
}
.logo{
  display: none;
}
.social{
  display: flex;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 991px) {
  .navbar-brand {
    display: none;
  }
  .logo {
    display: contents;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #000 !important;
    font-weight: 500;
    font-size: 19px;
    text-align: center;
    border: none;
  }
   .social {
    display: flex;
  }
  .social a{
    margin-left: 15px;
  }

}
