nav.navbar,
.navbar-default {
  background: rgba(255, 255, 255, 0.95) !important;
  margin-bottom: 0px;
  width: 100%;
  border-radius: 0px;
  transition: all 0.2s;
  z-index: 999;
  border-bottom: 1px solid #eee;
  padding: 0.5% 5.5%;
}
.navbar-dark .navbar-nav .nav-link {
  color: #000 !important;
}

.nav-link:hover {
  color: #000 !important;
  text-decoration: underline;
}
.navbar-brand {
  margin: 0px auto !important;
}
.navbar-brand img {
  height: 70px;
}
.navbar-toggler {
  padding: 3px 5px !important;
  background-color: #000 !important;
  border-radius: 0px !important;
}
