/* jumbotron */
.jumbotron {
  background-image: url(/assets/cover1.jpg);
  padding: 13rem 2rem !important;
  margin-top: 100px;
  margin-bottom: 10px !important;
  color: #fff;
  text-transform: uppercase;
  height: 600px;
  border-radius: 0px !important;
}
.introtext {
  width: 450px;
  border-left: 2px solid #fd5a32;
  padding-left: 20px;
}
/* jumbotron */
.row {
  margin-left: 0px !important;
}
/* Profiles */
.container {
  max-width: 90% !important;
}
.sectionFirst {
  background-image: url(/assets/bg.jpg);
  height: auto;
}
.sectionRight {
  background: rgba(114, 112, 112, 0.71);
  color: #fff;
  padding: 20px;
  padding-top: 40px;
}
.sectionRight h2 {
  margin-bottom: 40px;
}
.sectionRight h4 {
  margin-bottom: 70px;
}
.profiletabs .nav-link {
  border-left: 2px solid #fd5a32;
  border-radius: 0px !important;
  margin-bottom: 15px;
  color: #fff;
  font-size: 15px;
}
.profiletabs .nav-link:hover {
  color: #fff !important;
  text-decoration: none !important;
}
.profiletabs .nav-pills .nav-link.active {
  background: none !important;
  border-left: 2px solid #fd5a32;
  border-bottom: 2px solid #fd5a32;
  border-radius: 0px !important;
  font-style: normal !important;
}
.row {
  margin-right: 0px !important;
}
.profiletabs {
  padding-bottom: 30px;
}
.tab-content {
  font-size: 15px !important;
}
/* Profiles */

/* Building Types */
.customHead {
  padding: 50px 0px 50px 0px;
}
.image-col {
  padding: 0px !important;
}
#buildingTypes {
  max-width: 90% !important;
}
.buildingtabs .nav-link {
  border-radius: 0px !important;
  margin-bottom: 50px;
  color: #fff;
  font-size: 15px;
  margin-right: 60px;
  padding: 0px !important;
}
.buildingtabs .nav-link:hover {
  opacity: 0.7;
}
.buildingtabs .nav-pills .nav-link.active {
  background: none !important;
  border-bottom: 4px solid #fd5a32;
  border-radius: 0px !important;
  font-style: normal !important;
}
.buildingtabs.nav-pills .nav-link {
  border-radius: 0.25rem;
}
.buildingtabs .tab-content {
  font-size: 15px !important;
  padding: 20px 15px 20px 0px;
}
.smallHead {
  margin: 30px 0px 50px;
}
.buildingtabs h5 span {
  color: #fd5a32 !important;
}
/* Building Types */
.processA h2 {
  padding: 0px 0px 50px 0px !important;
}
.processA {
  margin-bottom: 40px;
}
.card-columns .card {
  margin-bottom: 0.75rem;
  border-bottom: 2px solid #fd5a32 !important;
  border-radius: 0px;
  padding-bottom: 20px;
}

.card {
  border: 0 none !important;
}
.card-body {
  padding: 0px !important;
}
.card-title {
  font-size: 15px !important;
}
.card-text {
  font-size: 13px !important;
}
.card-columns {
  column-count: 4 !important;
}
.collab {
  margin-bottom: 50px;
}
.form-control {
  border-left: 0 none !important;
  border-right: 0 none !important;
  border-top: 0 none !important;
  border-bottom: 1px solid #fd5a32 !important;
  border-radius: 0px !important;
  width: 80% !important;
  font-size: 13px !important;
}
textarea.form-control {
  border: 1px solid #ccc !important;
  background: #eee !important;
  margin-top: 40px;
}
.btn-primary {
  background-color: #fd5a32 !important;
  border-radius: 0px !important;
  border: 0 none !important;
}
