.container {
  max-width: 90% !important;
}
.sectionFirst {
  background-image: url(/assets/cover3.jpg);
  height: auto;
  background-size: cover !important;
  width: 100%;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}
.sectionRight {
  background: rgba(0, 0, 0, 0.605);
  color: #fff;
  padding: 20px;
  padding-top: 40px;
  font-family: "palatino";
}
.sectionRight h2 {
  margin-bottom: 40px;
  font-size: 40px;
  text-transform: uppercase;
}
.sectionRight h4 {
  margin-bottom: 70px;
  font-size: 25px;
  text-transform: uppercase;
}
.profiletabs .nav-link {
  border-left: 2px solid #fd5a32;
  border-radius: 0px !important;
  margin-bottom: 15px;
  color: #fff;
  font-size: 17px;
  letter-spacing: 0.5px;
}
.profiletabs .nav-item {
  margin-bottom: 0px !important;
}
.profiletabs .nav-link:hover {
  color: #fff !important;
  text-decoration: none !important;
}
.profiletabs .nav-pills .nav-link.active {
  background: #fd5a32 !important;
  border-left: 2px solid #fd5a32;
  border-radius: 0px !important;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  font-style: normal !important;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.row {
  margin-right: 0px !important;
}
.profiletabs {
  padding-bottom: 30px;
}
.tab-content {
  font-size: 17px !important;
}

@media (max-width: 375px) {
  .sectionRight h2 {
    font-size: 10px !important;
  }
  #left-tabs-example-tab-first {
    margin-bottom: 13px !important;
  }
}

@media (min-width: 576px) {
  .col-sm-3 {
    max-width: 28% !important;
  }
}
@media (max-width: 768px) {
  .col-md-4 {
    display: none;
  }
  #left-tabs-example-tab-first {
    margin-bottom: -10px;
  }
}
