#projects .card {
  margin-right: 20px;
  overflow: hidden;
}
#projects {
  margin-bottom: 70px;
}
#projects .card-img-top {
  transition: 1s;
 
}
#projects .card-img-top:hover {
  transform: scale(1.1);
}
#projects .card-title {
  font-size: 24px !important;
  position: absolute;
  top: 40%;
  left: 0%;
  text-align: center;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 999;

  background: rgba(23, 22, 22, 0.605);
  padding: 10px 0px;

}
